<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoFlow</title>
</head>
<body>
    <form id="add-student" method="post">
        <label for="prenom">Prenom:</label>
        <input type="text" name="prenom" id="prenom" required><br>

        <label for="nom">Nom:</label>
        <input type="text" name="nom" id="nom" required><br>

        <label for="age">Age:</label>
        <input type="number" name="age" id="age" required><br>
        
        <label for="classe">Classe:</label>
        <input type="text" name="classe" id="classe" required><br>

        <button type="submit" name="add-student">Ajouter</button>
    </form>
</body>
</html>